#logos {
    background-color: black;
    border-radius: 10px;
    height: 200px;
}

#logo {
    border: none;
    margin: none;
    border-radius: 10px;
    float: inline-start;
    size: 100px;
}

#slogan {
    color: black;
    text-align: center;
    font-family: Poppins, sans-serif;
    text-shadow: 2px 2px 5px green;
    font-size: 30px;
}

#usos {
    float: inline-start;
}

#intro {
    float: inline-end;
}

#snvrd {
    font-family: 'Abril Fatface', serif;
    font-size: 86px;
    color: white;
    padding: 0px;
    border: 0px;
    margin: 0px;
    text-align: center;
}