body {
    background: green;
}

#logo {
    border-radius: 10px;
    margin-inline-start: auto;
}

header {
    background-color: green;
    border-radius: 10px;
    display: inline-flex;
}

#snvrd {
    color: black;
    font-family: 'Abril Fatface', serif;
    font-size: 86px;
    margin-inline: auto;
}

#slogan {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

#usos {
    float: inline-start;
}

#intro {
    float: left;
}

ul {
    display: inline;
}