*,
body {
  /* border: solid 2px red; */
  font-family: 'ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0%;
  padding: 0%;
  background-color: black;
  color: white;
  background-image: url ('/images/bkg0.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  overflow: hidden;
  box-sizing: content-box;
}

div { 
  position:fixed;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr ;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  background-color: transparent;
  background: transparent;
}

  section {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 5%;
  margin: 5%;
}

h1 {
  font-size: 46px;
  font-weight: 900;
  color: white;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  overflow: hidden;
  background-color: transparent;
  background: transparent;
  overflow: hidden;
}

a {
  background: inherit;
  background-color: transparent;
}

img {
flex: 8;
background: transparent;
}

animation__hearthBeat {
  animation-delay: 150ms;
  animation-iteration-count: infinite;
  background: content-box;
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 80px;
    /* padding: 5% 5%;
    width: 60%;
    margin:5% 5%; */
  }
  
}

 