*,
 body {
    /* border: solid 2px red; */
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: white;
    background-image: url ('/images/bkg0.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    overflow: hidden;
    box-sizing: content-box;
    }

  div {
    position:fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    background-color: transparent;
    background: transparent;
  }

  h1 {
    font-size: 80px;
    font-weight: 900;
    color: white;
    text-shadow: 1px 1px 1px black;
    margin: 3em;
    text-align: center;
    padding: auto;
    overflow: hidden;
    background-color: transparent;
    background: transparent;
    overflow: hidden;
  }

  span {
    color: green;
    background: transparent;
  }

